*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 650px;
    background-image:url(img/imagem-principal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 550px;  
}


.slide {
   
    width: 222px;
    height: 474px;
    margin: 0px 60px 36px 145px;
       
}


.instagram-account {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 80%%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
    cursor: pointer;
}

.account {
    margin-bottom: 30px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logount {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb (160, 160 , 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    margin-left: 10px;
}

.app-download:nth-child(1) {
    background-image: url('./img/googleplay-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/apple-button.png');
}

/* Responsividade Midia queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
      width: 80%;
    }
    
}
  
@media (max-width: 900px) {
    .instagram-wrapper {
      width: 50%;
    }
    .instagram-phone {
      display: none;
    }
    .instagram-account {
      width: 100%;
    }
}
  
@media (max-width: 600px) {
    body {
      background-color: #ffffff;
    }
    .group {
      border: 1px solid transparent;
    }
    .instagram-wrapper {
      min-width: 320px;
    }

    
}